header {
    padding-top: 23px;
}

nav {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    padding: 0 24px;
    margin-top: 60px;
}

.main__btn {
    @include mainBtn;
}

.hero__content__title {
    font-size: calculateRem(48);
    line-height: 48px;
    font-weight: 900;
}

.hero__content__description {
   @include contentText;
}

.hero__content__primary {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calculateRem(16);
}

.hero__content__btn {
    background-color: $orange-bg;
    color: $white-tx;
}

.hero__content__span {
    display: inline-block;
    font-weight: 600;
    color: $para-tx-color;
}

.hero__img__img {
    width: 100%;
    margin-left: 24px;
    margin-top: 67px;
    border-radius: 24px 0 0 24px;
}

