header {
    padding-top: 23px;

    nav {
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main__btn {
        @include mainBtn;

        &:hover,  &:focus  {
            cursor: pointer;
            background-color: #162542;
            color: $white-tx;
            border: 2px solid #E8EFF2;
        }
      
    }

    @include mQ(680px) {
        padding-top: 40px;

        nav {
            padding: 0 39px;
        }
    }

    @include mQ(1280px) {
        padding-top: 55px;

        nav {
            padding: 0 165px;
        }
    }
}

.hero {
    .hero__content {
        padding: 0 24px;
        margin-top: 60px;
    }


    .hero__content__title {
        font-size: calculateRem(48);
        line-height: 48px;
        font-weight: 900;
        text-transform: uppercase;
        color: $heading-tx-color;
    }

    .hero__content__description {
        @include contentText;
    }

    .hero__content__primary {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: calculateRem(16);
    }

    .hero__content__btn {
        background-color: $orange-bg;
        color: $white-tx;

        &:hover {
            background-color: $orange-bg;
            color: $white-tx;
            opacity: 0.6;
        }

        &:focus {
            background-color: $orange-bg;
            color: $white-tx;
            opacity: 0.6;
            border: 2px solid #162542 ;
        }
    }

    .hero__content__span {
        display: inline-block;
        font-weight: 600;
        color: $para-tx-color;
    }

    .hero__img__img {
        width: 100%;
        margin-left: 24px;
        margin-top: 67px;
        border-radius: 24px 0 0 24px;
    }

    @include mQ(680px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 65px;
    }

    @include mQ(1280px) {
        padding: 0 165px;
        gap: 140px;
        margin-top: 28px;

        .hero__img {
            position: relative;
        }

        .hero__img::before {
            position: absolute;
            content: "";
            width: 135px;
            height: 240px;
            background-color: #E8EFF2;
            top: 68px;
            right: -185px;
            border-radius: 20px 0 0 20px;
        }

        .hero__content {
            padding: 0;
            align-self: center;
        }

        .hero__content__title {
            font-size: calculateRem(56);
            line-height: 56px;
        }

        .hero__content__description {
            font-size: calculateRem(18);

        }

        .hero__content__primary {
            gap: 60px;
            justify-content: flex-start;
        }
    }

}